header {
    background-color: var(--bs-gray-500);
    /* justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;  */
}

.text_body {
    width: 100%;
    max-width: 500px;
}

/* #navbar-toggler_div {
    display: flex;
    align-items: center; 
} */

